{% extends "pythia_base.html" %}
{% load static %}

{% block title %}Spark Says{% endblock %}

{% block menu %}
<li class="main">Analytics</li>
<li><a class="link" href="/v1/recommendation">Recommendation</a></li>
<li><a class="link" href="/v1/sparksays">Spark Says</a></li>
<li><a class="link" href="/v1/kpi-tracking">KPI Tracking</a></li>
<li class="main">API Documentation</li>
<li><a class="link" href="/swagger_inline">Swagger</a></li>
<li><a class="link" href="{% url 'schema-redoc' %}">Redoc</a></li>
{% endblock %}

{% block content %}
<h1>Spark Says - latest values</h1>
<div>&nbsp;</div>
<div>
  {% for sub, ids in subjects.items %}
  <h2>{{ sub }}</h2>
  <table class="sparksays">
    <tr class="sparksays_header"><td>Key</td><td colspan="8"></td></tr>
    {% for id, count in ids.items %}
    <tr><td class="sparksays_id">{{ id }}</td>
      <td class="sparksays current">{{ count.0 }}</td>
      <td class="sparksays">{{ count.1 }}</td>
      <td class="sparksays">{{ count.2 }}</td>
      <td class="sparksays">{{ count.3 }}</td>
      <td class="sparksays">{{ count.4 }}</td>
      <td class="sparksays">{{ count.5 }}</td>
      <td class="sparksays">{{ count.6 }}</td>
      <td class="sparksays">{{ count.7 }}</td></tr>
    {% endfor %}
  </table>
  {% endfor %}
</div>
{% endblock %}