{% extends "pythia_base.html" %}
{% load static %}

{% block title %}KPI Tracking{% endblock %}

{% block menu %}
<li class="main">Analytics</li>
<li><a class="link" href="/v1/recommendation">Recommendation</a></li>
<li><a class="link" href="/v1/sparksays">Spark Says</a></li>
<li><a class="link" href="/v1/kpi-tracking">KPI Tracking</a></li>
<li class="main">API Documentation</li>
<li><a class="link" href="/swagger_inline">Swagger</a></li>
<li><a class="link" href="{% url 'schema-redoc' %}">Redoc</a></li>
{% endblock %}

{% block content %}
<h1>KPI Tracking</h1>
{% endblock %}