{% extends "pythia_base.html" %}
{% load static %}
{% load rest_framework %}

{% load pygmentify_tags %}

{% block title %}Recommendations{% endblock %}

{% block menu %}
<li class="main">Analytics</li>
<li><a class="link" href="/v1/recommendation">Recommendation</a>
    <ul>
        <li><a class="link" href="/v1/recommendation/capacitor_status/index">Capacitor Status</a></li>
        <li><a class="link" href="/v1/recommendation/cooling/index">Cooling Recommendation</a></li>
    </ul>
</li>
<li><a class="link" href="/v1/sparksays">Spark Says</a></li>
<li><a class="link" href="/v1/kpi-tracking">KPI Tracking</a></li>
<li class="main">API Documentation</li>
<li><a class="link" href="/swagger_inline">Swagger</a></li>
<li><a class="link" href="{% url 'schema-redoc' %}">Redoc</a></li>
{% endblock %}

{% block content %}
<h1>Recommendations</h1>
<p>From Oxford Dictionaries</p>
<blockquote>
    A suggestion or proposal as to the best course of action, especially one put forward by an authoritative body.
</blockquote>
{% endblock %}