{% extends "pythia_base.html" %}
{% load static %}
{% load rest_framework %}

{% load pygmentify_tags %}

{% block title %}Recommendations{% endblock %}

{% block menu %}
<li class="main">Analytics</li>
<li><a class="link" href="/v1/recommendation">Recommendation</a>
    <ul>
        <li><a class="link" href="/v1/recommendation/capacitor_status/index">Capacitor Status</a></li>
        <li><a class="link" href="/v1/recommendation/cooling/index">Cooling Recommendation</a></li>
    </ul>
</li>
<li><a class="link" href="/v1/sparksays">Spark Says</a></li>
<li><a class="link" href="/v1/kpi-tracking">KPI Tracking</a></li>
<li class="main">API Documentation</li>
<li><a class="link" href="/swagger_inline">Swagger</a></li>
<li><a class="link" href="{% url 'schema-redoc' %}">Redoc</a></li>
{% endblock %}

{% block content %}
<h1>Recommendations - Cooling</h1>
<p>
  Sample code for accessing Cooling alarm recommendations (Python)
  {% pygmentify %}
  <pre class="python">

import urllib.request
import json
import base64

# Request data goes here
data = {
    "alarm_id": {
        'alarm_text': "Fluid Flowmeter Fault",
        'alarm_severity': "critical"
    }
}

body = str.encode(json.dumps(data))

base_url = 'https://pythia-web.azurewebsites.net'
user = '[username]'
password = '[password]'
auth = (base64.b64encode((user+":"+password).encode('ascii'))).decode("utf-8")

device_family = 'acrc'
device_version = '5'

headers = {'Content-Type': 'application/json', 'Authorization': ('Basic ' + auth)}

req = urllib.request.Request(base_url+'/v1/recommendation/cooling/'+device_family+"/"+device_version, data=body, headers=headers)

try:
    response = urllib.request.urlopen(req)

    result = response.read()
    if result is not None:
        resp = json.loads(result.decode("utf-8"))
        print(resp)

except urllib.error.HTTPError as error:
    print("The request failed with status code: " + str(error.code))

    # Print the headers - they include the requert ID and the timestamp, which are useful for debugging the failure
    print(error.info())
    print(json.loads(error.read().decode("utf8", 'ignore')))
</pre>
    {% endpygmentify %}
</p>

{% endblock %}