{% extends "pythia_base.html" %}
{% load static %}
{% load rest_framework %}

{% load pygmentify_tags %}

{% block title %}Recommendations{% endblock %}

{% block menu %}
<li class="main">Analytics</li>
<li><a class="link" href="/v1/recommendation">Recommendation</a>
    <ul>
        <li><a class="link" href="/v1/recommendation/capacitor_status/index">Capacitor Status</a></li>
        <li><a class="link" href="/v1/recommendation/cooling/index">Cooling Recommendation</a></li>
    </ul>
</li>
<li><a class="link" href="/v1/sparksays">Spark Says</a></li>
<li><a class="link" href="/v1/kpi-tracking">KPI Tracking</a></li>
<li class="main">API Documentation</li>
<li><a class="link" href="/swagger_inline">Swagger</a></li>
<li><a class="link" href="{% url 'schema-redoc' %}">Redoc</a></li>
{% endblock %}

{% block content %}
<h1>Recommendations - Capacitor Status</h1>
{% for i,j in data.items %}
<div>&nbsp;</div>
<table class="capacitor_status">
    <tr><td width="150px">Device id</td><td width="400px">{{ j.device_id }}</td></tr>
    <tr><td>Organization id</td><td>{{ j.organizationid }}</td></tr>
    <tr><td>Model</td><td>{{ j.model }}</td></tr>
    <tr><td>Capacitor 1</td><td><b>{{ j.c0 }}</b></td></tr>
    <tr><td>Capacitor 2</td><td><b>{{ j.c1 }}</b></td></tr>
    <tr><td>Timestamp</td><td>{{ j.timestamp }}</td></tr>
</table>
{% endfor%}
{% endblock %}