{% extends "pythia_base.html" %}
{% load static %}

{% block title %}Root{% endblock %}

{% block menu %}
<li class="main">Analytics</li>
<li><a class="link" href="/v1/recommendation">Recommendation</a></li>
<li><a class="link" href="/v1/sparksays">Spark Says</a></li>
<li><a class="link" href="/v1/kpi-tracking">KPI Tracking</a></li>
<li class="main">API Documentation</li>
<li><a class="link" href="/swagger_inline">Swagger</a></li>
<li><a class="link" href="{% url 'schema-redoc' %}">Redoc</a></li>
{% endblock %}

{% block content %}
<h1>Welcome to Pythia Analytics</h1>
<p>From wikipedia</p>
<blockquote cite="https://en.wikipedia.org/wiki/Pythia">
  <div>
  Pythia (/ˈpɪθiə/;[1] Ancient Greek: Πυθία [pyːˈtʰi.aː]) was the name of the high priestess of the Temple of Apollo at Delphi.
  She specifically served as its oracle and was known as the Oracle of Delphi. Her title was also historically glossed in English as the Pythoness.[2]
  </div>
  <div>&nbsp;</div>
  <div>
  The name Pythia is derived from Pytho, which in myth was the original name of Delphi.
  Etymologically, the Greeks derived this place name from the verb πύθειν (púthein) "to rot",
  which refers to the sickly sweet smell from the decomposing body of the monstrous Python after she was slain by Apollo.[3]
  </div>
  <div>&nbsp;</div>
  <div>
  The Pythia was established at the latest in the 8th century BC,[4] (though some estimates date the shrine to as early as 1400 BC[5][6][7]),
  and was widely credited for her prophecies uttered under divine possession (enthusiasmos) by Apollo.
  The Pythian priestess emerged pre-eminent by the end of the 7th century BC and continued to be consulted until the late 4th century AD.[8]
  During this period, the Delphic Oracle was the most prestigious and authoritative oracle among the Greeks,
  and she was among the most powerful women of the classical world.
  The oracle is one of the best-documented religious institutions of the classical Greeks.
  Authors who mention the oracle include Aeschylus, Aristotle, Clement of Alexandria, Diodorus, Diogenes, Euripides, Herodotus, Julian,
  Justin, Livy, Lucan, Nepos, Ovid, Pausanias, Pindar, Plato, Plutarch, Sophocles, Strabo, Thucydides, and Xenophon.
  </div>
  <div>&nbsp;</div>
  <div>
  Nevertheless, details of how the Pythia operated are scarce, missing, or non-existent entirely, as authors from the classical period
  (6th to 4th centuries BC) treat the process as common knowledge with no need to explain.
  Those who discussed the oracle in any detail are from 1st century BC to 4th century AD and give conflicting stories.[9]
  One of the main stories claimed that the Pythia delivered oracles in a frenzied state induced by vapours rising from a chasm in the rock,
  and that she spoke gibberish which priests interpreted as the enigmatic prophecies and turned them into poetic dactylic hexameters
  preserved in Greek literature.[10] This idea, however, has been challenged by scholars such as Joseph Fontenrose and Lisa Maurizio,
  who argue that the ancient sources uniformly represent the Pythia speaking intelligibly, and giving prophecies in her own voice.[11]
  Herodotus, writing in the fifth century BC, describes the Pythia speaking in dactylic hexameters.[12][13]
  </div>
</blockquote>
{% endblock %}