{% load static %}
{% load pygmentify_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pythia Analytics</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

  <link rel="stylesheet" type="text/css" href="//unpkg.com/swagger-ui-dist@3/swagger-ui.css" />
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% pygmentify_css %}">

  <link rel="stylesheet" href="{% static 'css/pythia.css' %}">
</head>
<body>
<div class="wrapper">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container-fluid">
      <table width="100%" class="header">
        <tr height="50px">
          <td><a href="{% url 'home' %}"><img src="{% static 'images/pythia_logo_small_transparent.png' %}"></a></td>
          <td class="header">&nbsp;</td>
          <!-- td width="100px" class="auth">
            {% if user.is_authenticated %}
            <a class="link" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="link" href="/accounts/login/?next=/">Login</a>
            {% endif %}
          </td -->
        </tr>
      </table>
    </div>
    </div>
  </div>
  <div class="body-content">
    <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3" id="toc">
        <ul class="nav nav-list sidebar-nav-fixed">
        {% block menu %}{% endblock %}
        </ul>
      </div>
      <div class="span9">
        {% block content %}{% endblock %}
      </div>
    </div>
    </div>
  </div>
</div>
</body>
</html>