html{
  width:100%;
  background: none;
}

body, .navbar .navbar-inner .container-fluid{
  max-width: 1150px;
  margin: 0 auto;
}

/* Replacement for `body { background-attachment: fixed; }`, which
   has performance issues when scrolling on large displays. */
body::before {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #c3dffa;
    /* background: url(../image/grid.png) repeat-x; */
    will-change: transform;
    z-index: -1;
    font-family: verdana;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

.body-content{
  padding-top: 120px;
  padding-bottom: 70px;
}

.nav {
    margin-bottom: 20px;
    margin-left: 0;
    list-style: none;
}

.side-nav {
    overflow-y: scroll;
}

.nav-list {
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 0;
}

.nav-list li.main {
    font-weight: bold;
}

.navbar .navbar-inner {
    background: #b3cfda;
    color: white;
    border: none;
}

.sidebar-nav-fixed {
    position: fixed;
    max-width: 240px;
}

.navbar {
    position: fixed;
}

td {
    font-family: verdana;
    height: 30px;
}
td.header {
    font-size: 240%;
    height: 40px;
}
td.subheader {
}
td.line {
    border-top: 1px solid;
    height: 1px;
}
td.status_active {
    text-align: center;
    background-color: #5cab69;
    border: 1px solid;
}
td.status_inactive {
    text-align: center;
    background-color: #8da1a8;
    border: 1px solid;
}
td.button_active {
    text-align: center;
    border: 1px solid;
    background-color: #5cab69;
}

td.button_inactive {
    text-align: center;
    border: 1px solid;
    background-color: #8da1a8;
}
a.link {
  color: black;
  text-decoration: none;
  display: block;
}
td.content {
    vertical-align: top;
}
td.menu {
    vertical-align: top;
}
pre.python {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}
table.sparksays {

}

tr.sparksays_header {
    background-color: #b3cfda;
}

td.sparksays_id {
    width: 350px;
}
td.sparksays {
    width: 45px;
}
td.current {
    font-weight: bold;
}

table.capacitor_status {
    width="100%";
    border: 1px solid #999;
}